body{
	padding : 0px 20px;
    background-image : url(../img/heng1.jpg); /*背景图片*/ 
}
.bg1{
	background-image : url(../img/heng.jpg); /*背景图片*/ 
	padding : 0px 20px;
}
.head{
	color : #8080c0;
	text-align:center; /*文字居中对齐*/ 
	font-family : 宋体,sans-serif; /*文字字体*/ 
	font-size : 25pt; /*文字大小*/ 
	font-style:itelic; /*文字斜体*/ 
	font-variant:small-caps; /*小字体*/ 
	letter-spacing : 1pt; /*字间距离*/ 
	line-height : 200%; /*设置行高*/ 
	font-weight:bold; /*文字粗体*/ 
}
.warningbar{
	display:block;
	text-align : center;
	color : #ff0000;
}
.warningbarl{
	display:block;
	text-align : left;
	color : #ff0000;
}
.mainbar{
	text-align : center;
	margin:0 auto;
}
a{
	color : #ff80ff;
	text-align:left; /*文字右对齐*/ 
	font-family : 宋体,sans-serif; /*文字字体*/ 
	font-size : 15pt; /*文字大小*/ 
	letter-spacing : 1pt; /*字间距离*/ 
	line-height : 200%; /*设置行高*/ 
	 
}
.txt{
	color : #ff80ff;
	text-align:left; /*文字右对齐*/ 
	font-family : 宋体,sans-serif; /*文字字体*/ 
	font-size : 12pt; /*文字大小*/ 
	letter-spacing : 1pt; /*字间距离*/ 
	line-height : 200%; /*设置行高*/ 
}
.border{
	border : 2px solid #000;
}
