body{
    background-image : url(../img/heng.jpg); /*背景图片*/ 
}
.head{
	display: block;
}
.minl{
	vertical-align: top;
	padding : 0px 20px;
	display: inline-block;
	with : 20%;
	margin:40px auto;
}
.minr{
	margin:40px auto;
	vertical-align: top;
	display: inline-block;
	width : 80%;
	color : #8080c0;
	text-align:center; /*文字居中对齐*/ 
	font-family : 宋体,sans-serif; /*文字字体*/ 
	font-size : 35pt; /*文字大小*/ 
	font-style:itelic; /*文字斜体*/ 
	font-variant:small-caps; /*小字体*/ 
	letter-spacing : 1pt; /*字间距离*/ 
	line-height : 200%; /*设置行高*/ 
	font-weight:bold; /*文字粗体*/ 
}
.leftbar{
	padding : 0px 20px;
	display :inline-block;
	width : 20%;
	vertical-align:top;
}
.rightbar{
	width:70%;
	display :inline-block;
	vertical-align:top;
}
.subbar{
	margin:20px auto;
	display: block;
}
.subbar1{
	margin:20px auto;
	display: block;
}
a:hover 
  {color:red;}
.bottombar{
	padding : 0px 20px;
	display: block;
}
.bottom1{
	padding : 0px 20px;
	display: block;
}
.minblock{
	display: block;
}
.text0{
	font-family : 宋体,sans-serif; /*文字字体*/ 
	font-size : 15pt; /*文字大小*/ 
	font-style:itelic; /*文字斜体*/ 
	font-variant:small-caps; /*小字体*/ 
	letter-spacing : 1pt; /*字间距离*/ 
	line-height : 200%; /*设置行高*/ 
	font-weight:bold; /*文字粗体*/ 
}
#customers
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	width:100%;
	border-collapse:collapse;
}
#customers td, #customers th 
{
	font-size:1.1em;
	border:2px solid #000;
	padding:3px 7px 2px 7px;
}
#customers th 
{
	font-size:1.1em;
	text-align:left;
	padding-top:5px;
	padding-bottom:4px;
	background-color:#00ffff;
	color:#ff0000;
}
#customers tr.style2 td 
{
	color:#000000;
	background-color:#ccffff;
}
#customers tr.style1 td 
{
	color:#000000;
	background-color:#ffffff;
}
