body{
	padding : 0px 20px;
	background-color : #f8f8fc;
}
.text{
	display : block;
	color : #8080c0;
	text-align:center; /*文字居中对齐*/ 
	font-family : 宋体,sans-serif; /*文字字体*/ 
	font-size : 35pt; /*文字大小*/ 
	font-style:itelic; /*文字斜体*/ 
	font-variant:small-caps; /*小字体*/ 
	letter-spacing : 1pt; /*字间距离*/ 
	line-height : 200%; /*设置行高*/ 
	font-weight:bold; /*文字粗体*/ 
}
.img{
	display : block;
	text-align:center;
}